.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-indicators .indicator {
  border-radius: 50%;
  width: 4px;
  height: 10px;
  border: 1px solid black;
  background-color: rgb(116, 114, 114);
  margin: 0 5px;
}

.carousel-indicators .indicator.active {
  background-color: black;
}

/* Styles for testimonial card, image, and heading */
.testimonial-card {
  max-width: 900px; /* Adjust max-width as needed */
  margin: auto; /* Center the card */
}

.testimonial-image {
  width: 120px; /* Adjust width as needed */
  height: 120px; /* Adjust height as needed */
}

.testimonial-name {
  font-size: 1.5rem; /* Adjust font-size as needed */
}

.testimonial-text {
  font-size: 1rem; /* Adjust font-size as needed */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .testimonial-card {
    max-width: 400px; /* Adjust max-width as needed for smaller screens */
  }

  .testimonial-image {
    width: 80px; /* Adjust width as needed for smaller screens */
    height: 80px; /* Adjust height as needed for smaller screens */
  }

  .testimonial-name {
    font-size: 1.2rem; /* Adjust font-size as needed for smaller screens */
  }

  .testimonial-text {
    font-size: 0.9rem; /* Adjust font-size as needed for smaller screens */
  }

  .carousel-control-prev,
  .carousel-control-next {
    visibility: hidden;
  }
}
